[submodule "dwm"]
	path = dwm
	url = https://github.com/zoomiti/dwm.git
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/zoomiti/slstatus.git
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/zoomiti/dmenu.git
